{
  "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "rootSrc": "./src",
                "assets": "./assets"
            }
        }]
    ]
}
